.VisibleTitle{
    text-align: center;
    font-size: 17pt;
    font-family: Arial, Helvetica, sans-serif;
    font:bold;
    text-decoration: underline;
}

body{
background-color:rgb(236, 236, 236) ;
}

div#ProfileImg img{
 width: 250px;
 float: left;
 margin-right: 30px;
 margin-bottom: 10px;
 border: 9px hidden;
 border-radius: 30px;
 border-color:rgb(255, 255, 255);
}

div#BasicInfo p{
 font-size: 13pt;
 font-family:Arial, Helvetica, sans-serif} 

 .INDETLog {
     float:left;
     width:70px;
     height:80px;
     padding: 10px;
     margin-right: 40px;
 }

 .DS2Log {
     float:left;
     width:80px;
     height:60px;
     padding: 10px;
     padding-top: 15px;
     margin-right: 30px;
 }

 div#InstitucionalInfo p{
     font-size:13pt;
     font-family:Arial, Helvetica, sans-serif;
 }

 .footerText {
     font-family:Georgia, 'Times New Roman', Times, serif;
     font-size: 9pt;
 }

 .mined{
     width: 80px;
     height: 60px;
     padding-right: 10px;
     margin-right: 3px;
 }

 .IconPer{
    width: 50px;
    height: 50px;
    margin-left: 1px;
}

.DevBy{
    position:absolute;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 5pt;
    bottom: 2px;
}

